<div class="A">
<app-menu2></app-menu2>
    <h1 class="mat-display-2">𝐵𝑜𝑜𝓀 𝒵𝑜𝓃𝑒..</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, hic asperiores enim amet veritatis aliquam!
    Eligendi repellat voluptatibus voluptates totam, exercitationem in consectetur eum velit pariatur delectus
    voluptatum, consequuntur veritatis quaerat reprehenderit aliquam fuga ut et magnam fugiat ratione ab ducimus id
    veniam. Sed tempora asperiores alias. Eos, ut beatae?</p>
</div>
<router-outlet></router-outlet>