<mat-toolbar color="primary">
    
    <span>BookZone.com</span>
    <span class="example-spacer"></span>
    <button mat-icon-button style="margin-right: 20px;" (click)="toHome()">
        
      <mat-icon>home</mat-icon>
  </button>
  
   
    <button mat-icon-button style="margin-right: 20px;" (click)="BookList()">
        
        <mat-icon>books</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" style="margin-right: 20px;" (click)="requestGot()">
      <mat-icon matBadge={{requestDatalength}} matBadgeColor="warn">notifications</mat-icon>
    </button>
   
    <button mat-icon-button  style="margin-right: 20px;" (click)="logout()">
       <mat-icon>logout</mat-icon>
      </button>
  
  </mat-toolbar>